.main-spacer{
  padding-bottom: 90px;
}

.image-container {
  display: flex;
  justify-content: right;
  align-items: right;
}

.image-container img {
  max-width: 100%;
  height: auto;
}


.text-content{
  text-align: left;
  margin-top: 150px;
}
